**Michael Mangia**

Code Practice 1

Data Bootcamp

02/01/2018

**1.) Describe what these expressions do.**

2+5 This expression adds 2 and 5 to make 7

2 + 5 This expression also adds 2 and 5 to make 7

2*5 This expression multiplies 2 times 5 to make 10

2 / 5 This expression divides 2 by 5 which produces .4

2**5 This expression raises 2 to the 5th power making 32

**2.) What is the value of X after running these statements in order**

In [9]:
x = 7
x = x + 3

The value of X after running these statements in order is 10. The second equation takes the value x and plugs it into the new equation and adds 3 to it. Now, X is equal to 10.

**3.) What is the value of X and Y, why?**

In [1]:
x = 3
y = x 
x = 10
x

10

The value of x after running this statement in order is 10. At first x = 3, but x is then reassigned the value of 10 in the last line of the statements. Y is equal to 3 because it is set equal to x in the second line. Y then holds the value 3, which was the old value of x.

**4.) Does the code run without error?**

In [11]:
x = 3
x = x/2
y = "abc"
z = y + y
print(x,z)

1.5 abcabc

The code produces 1.5 abcabc. x is initially 3 but then is divided by 2 to equal 1.5. y is the string "abc". Z adds y and y together to create "abcabc". When printing x then z it equals 1.5 "abcabc"

**5.) Does the code run without error?**

In [2]:
x = 3
x = x/2
y = "abc"
z = x + y
print(x , z)

TypeError: unsupported operand type(s) for +: 'float' and 'str'


This code above runs with an error. Unlike question 4, variable z attempts to add a string y with a float x, which is not allowed. Adding a string to a float produced an error

**6.) Does the code run without error?**

In [17]:
x = 3
y = 24
z = y / x 
print (x,y,z, sep = ' |')

3 |24 |8.0

This code runs without an error. Variable z divides two integers. Then, the program prints the variables x, y , and z separated by a |.

**7.) Does the code run without error?**

In [3]:
x = 3
y = "24"
z = y / x 
print (x,z)

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [ ]:
This code produces an error. The code attempts to divide a string "y" by the integer x. This is not allowed, thus producing an error.

**8.) Does the code run without error?**

In [22]:
x = "I am a #string" #Whoa a string!
print(x)

I am a #string

This code does not produce an error. The string is encased in parentheses. The text outside of the string uses # to comment.

**9.) Does the code run without error?**

In [21]:
x = [1,2,3]
y = [42,43]
z = x + y 
print(z)

[1, 2, 3, 42, 43]

This code above runs correctly. Variable z adds the elements of the lists x and y together to create list z. List z then contains all of those elements

**10.) Does the code run without error?**

x = [1,2,3]

y = 42

z = x + y

This code produces an error. Variable z attempts to add two different types of variables together. Variable x is a list, while variable y is an integer. Thus, these cannot be added together successfully.

**11.) What types are these variables?**

In [5]:
x1 = 12
x2 = 12.0
x3 = "12.0"
x4 = [12]
x5 = [12, 12.0, "12.0"]

print(type(x1))
print(type(x2))
print(type(x3))
print(type(x4))
print(type(x5))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>
<class 'list'>

* x1 is an int. 
* x2 is a float.
* x3 is a string.
* x4 is a list.
* x5 is a list containing an integer, float, and string

**12.) Explain the result of each line**

* type(42) -->  produces an integer
* type(42.0) --> produces a float
* type('42.0') --> produces a string
* type("42.0")--> produces a string
* type("""42.0""") --> produces a string
* type([1, 2]) --> produces a list 
* type([1] + [2]) --> produces a list
* type(1 + 2) --> produces an int
* type(print) --> produces the type "built in function

** 13.) Describe and explain the result **

In [41]:
type(float(str(int('1234'))))

float

This expression converts the string "1234" to an integer. Then, it converts the result into a string. Then, it converts it to a float. Finally, it asks for the type, which is now a float. This example demonstrates how you can change a number between a string, integer, and float.

**14.) Describe and explain the result**

In [43]:
type(int(float('12.34')))

int

This expression takes the string '12.34' and converts it to a float. Then it converts the result into an integer. Finally, it uses the type function to determine that the expression is indeed an integer.

**15.) Explain each line**

* len([1234]) This produces length of 1. This is a list with one element, thus it has a length of one.


* len("1234") This is a string with 4 characters, thus it produces a length of 4


* len(1234) This expression is an error. An integer does not have a length by itself

**16.) What is the type and length of x = []**

Variable x is of type list. This is an empty list, thus it has length 0.

**17.) Convert the string x = ’abcde’ to a list. What does it look like?**

In [50]:
x = "abcde"
x = list(x)
print(x)

['a', 'b', 'c', 'd', 'e']

When you convert x into a list, it looks like the result above. The function list converts all of the elements of the string x into separated characters in a list

** 18.) Consider the integer x = 1234. **

a. Convert x to a floating point number.

b. Convert x to a string.

c. Convert x to the list
[’1’, ’2’, ’3’, ’4’]

In [55]:
x = 1234
x = float(x)
print(x)

x = str(x)
print(x)

x = list(x)
print(x)

1234.0
1234.0
['1', '2', '3', '4', '.', '0']

**19. Challenging. How would you convert x to “title case” (first letter of each word capitalized)?**

In [62]:
x = "luke, i am your father"
x = x.title()
print(x)

Luke, I Am Your Father

**20.) Challenging. Consider the string**

x = "How many characters and words are in this string?"
* a. How many characters does x contain?
* b. Convert x to a list of individual characters.
* c. Convert x to a list of individual words. Hint: Use tab completion to find a method that
splits x into pieces.
* d. How many words does x contain?

**Part A:**

In [63]:
x = "How many characters and words are in this string?"

length = len(x)
print(length)

49

**Part B:**

In [65]:
list_x = list(x)
print(list_x)

['H', 'o', 'w', ' ', 'm', 'a', 'n', 'y', ' ', 'c', 'h', 'a', 'r', 'a', 'c', 't', 'e', 'r', 's', ' ', 'a', 'n', 'd', ' ', 'w', 'o', 'r', 'd', 's', ' ', 'a', 'r', 'e', ' ', 'i', 'n', ' ', 't', 'h', 'i', 's', ' ', 's', 't', 'r', 'i', 'n', 'g', '?']

**Part C:**

In [66]:
words = x.split()
print(words)

['How', 'many', 'characters', 'and', 'words', 'are', 'in', 'this', 'string?']

**Part D:**

In [68]:
number_of_words = len(words)
print(number_of_words)

9

**21.) **

50 minutes