**Michael Mangia** 


**Data Bootcamp HW2**

**1.) Review. Does this code run without error? If so, what does it produce? If not, explain why.**

x = [1, 2, 3]
y = 'bootcamp'
z = x + y

No, this code does not run. Variable Z attempts to add together a list and a string, which is a type error. This is not allowed.

**2.) Review. For the same x and y as the previous question: What function tells us what type
they are? What function tells us how many elements they contain?**

To check the type of a variable you can use the type() function as shown below.

In [5]:
type(4)

int

**3.) What type is each expression? How can you tell?**

All of these could be determined with the type function.

2 --> Integer. Has no decimals or quotation marks

'2' --> String. Has quotation marks.

2.0 --> Float. Has a decimal.

"2.0" --> String. Has quotation marks.

2>1 --> Booloean operation. Attempts to see if one is
greater than other.


'Itamar' > 'Chase' --> Boolean operation. Comparing strings
.

[1, 2] --> List. Has brackets around it.

(1, 2) --> Tuple. Has () around it.

{1: 'one', 2: 'two'} --> Dictionary, uses the {} markers.

**4.) What value does each of these comparisons have? **

In [10]:
print(1>=0)
print(1 >= 1)
print(1 > 1)
print(1==1)
print(1 == 1.0)
print('Spencer' == "Spencer")
print(2**3 > 3**2)
print(1 >= 0 or 1 <= 2)
print(1 >= 0 and 1 <= 2)

True
True
False
True
True
True
False
True
True

1>=0 --> True

1 >= 1 --> True

1 > 1  --> False

1==1 --> True

1 == 1.0 --> True

'Spencer' == "Spencer" --> True

2 x 3 > 3 x 2 --> False

1 >= 0 or 1 <= 2 --> True

1 >= 0 and 1 <= 2 --> True

** 5.) Does this code run without error? If so, what does it produce? If not, how would you x it?**

In [14]:
if 2>1
    print('Yes, 2 is still greater than 1')

SyntaxError: invalid syntax (<ipython-input-14-07a70d6c9420>, line 1)

It does not run without error. To fix you need to put a colon (:) after the boolean operation.

In [13]:
if 2>1:
    print('Yes, 2 is still greater than 1')

Yes, 2 is still greater than 1

**6.) What is the result of running this code? Why?**

In [19]:
if True:
    print('on the one hand')
else:
    print('but on the other hand')

on the one hand

The result of the code is "on the one hand". We get this because the first operation of the if statement is True. If the first operation of the if statement was false, the expression would print "but on the other hand" instead.

**7.) What is the result of running this code? **

In [21]:
cond = True
if cond:
    x = "Chase"
else:
    x = "Dave"
print(x)

Chase

Tue result of the code running is "Chase". The if statement is true because the variable cond is True.

** 8.) Suppose we have two lists, x = [1, 2, 3, 4] and y = ['x', 'y', 'z']. Adapt the
code below to determine which has more elements: **

In [24]:
x = [1, 2, 3, 4]
y = ['x', 'y', 'z']

if len (x) > len (y):
    print('x has more')
else:
    print("y has at least as many")

x has more

** 9.) Explain in words what slicing does. **

Slicing splits a string or list into pieces. You can take separate elements from a larger list or string via slicing.

**10.) How would you extract (\slice") the first element (the integer 1) from the list x below? The
last element? All but the last element?**

In [25]:
x = [1, 2, 3, 4, 5]

In [31]:
#First Element
x[0]

1

In [32]:
#Last element 
x[-1]

5

In [33]:
#All but the last 
x[:-1]

[1, 2, 3, 4]

**11.) Use slicing to extract each word from**

In [34]:
sentence = 'This is a sentence; please slice it.'

In [53]:
print(sentence[:4])

print(sentence[5: 8])

print(sentence[8])

print(sentence[10:19])

print(sentence[20:26])

print(sentence[27:32])

print(sentence[33:])

This
is
a
sentence;
please
slice
it.

**12.) Consider the list**

In [54]:
x = [1, 2, "a", 'b', "fast", 'slow', 3, "Raghu", 'Liuren', 10]

In [56]:
#First Item
x[0]

1

In [57]:
##Last Item
x[-1]

10

In [60]:
#How would you slice out the items from 'b' to 3 inclusive?
x[3:7]

['b', 'fast', 'slow', 3]

**13.) Using the same list x, write a loop that prints every element on a new line.**

In [62]:
x = [1, 2, "a", 'b', "fast", 'slow', 3, "Raghu", 'Liuren', 10]

for item in x:
    print(item)

1
2
a
b
fast
slow
3
Raghu
Liuren
10

**14.) Challenging. Using the same list x, write a loop that prints every element of type str.**

In [72]:
x = [1, 2, "a", 'b', "fast", 'slow', 3, "Raghu", 'Liuren', 10]

for items in x:
    
    if type(items) == str:
        
        print(items)

a
b
fast
slow
Raghu
Liuren

** 15.) Use Spyder's help to nd out what the range function does. How would you describe
range(3,12,2)? Verify by converting to a list with list(range(3,12,2)). **

In [75]:
range(3,12,2)
list(range(3,12,2))

[3, 5, 7, 9, 11]

This function creates numbers between 3 and 12 with a step of 2. Note, 12 is excluded.

**16.) Challenging. Write a loop that sums the integers from zero to thirty that are multiples of
three: 3, 6, etc.**

In [76]:
for items in range (3,31,3):
    print(items)

3
6
9
12
15
18
21
24
27
30

**17.) Define a function pocket_change() that takes four integers as inputs (numbers of pennies,
nickels, dimes, and quarters in your pocket) and returns a 
oating point number (their dollar
value). Run your program with the input (1, 2, 3, 4). Bonus (optional): Report the
value with a dollar sign.**

In [92]:
def pocket_change(p,n,d,q):
    total = (.01 * p) + (n * .05) + (.1*d) + (.25*q)
    return total

from decimal import Decimal

print(  "$"+  str(round(pocket_change(1,2,3,4),2)) )

$1.41

** 18.) Challenging. Write a function notsix() that takes a list of integers and returns a (shorter)
list of only those that do not begin with a 6. Test it on the list [1234, 6783, 6, 4321,
9876]. Hints: You can create a blank list with x = []. You can append item to it with
x.append(item). **

In [107]:
def notsix ( L ):
    x = []
    
    for item in L:
        if str(item)[0] != "6":
            x.append(item)
    
    return x

In [108]:
print( notsix( [6, 6666, 43, 4,3, 55] ) )

[43, 4, 3, 55]

** 19.) Challenging. Explain what this code does: **

In [109]:
old_list = [1234, 6783, 6, 4321, 9876]
new_list = [x for x in old_list if str(x)[0] != "6"]

In [110]:
print(new_list)

[1234, 4321, 9876]

This code takes the old list and creates a new list if the first character of a string of the integer is not equal to 6. Thus, the new list will not contain items that begin with the number 6

** 20.) Consider the Python object **

In [114]:
z = {1: 'one', 2: 'two', 3: 'three'}

A) Is type dictionary with length 3

B) The 1,2,3 are the keys. The values are "one", "two", "three"

C) The value associated with key two is "Two"

D) 
* z.keys() gives of all the keys in z.
* z.values() lists all of the values in the dictionary z

E) list(z.keys()) creates a list of all of the key values of dictionary z

F) list(z.values()) gives a list of all of the values in dictionary z

G) This creates a list of all of the key values of dictionary z